@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: white;
  border-bottom: 1px solid #E2E8F0;
  width: 100%;
  position: fixed;
  /* position: relative; */
  top: 0px;
}

.navbar {
  font-size: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  margin-left: -75px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
  color: green;

}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-item:hover {
  color: rgba(255, 0, 0, 0.626);
  /* text-decoration: underline; */
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: green;
  text-decoration: none;
}

.nav-logo a {
  font-size: 2.5rem;
}

.nav-logo a i {
  font-size: 2.5rem;
}

.liked {
  background-color: #ff00002e;
  /* width: 20px; */
  width: 31px;
  text-align: center;
  border-radius: 15px;
  color: red;
  margin-left: 480px;
  /* box-shadow: 10px 10px 20px red inset -10px -10px 20px rgb(253, 0, 0); */
}

.liked:hover {
  border: 2px solid red;
}

.tote-bag:hover {
  border: 2px solid green;
}



.tote-bag {
  background-color: #00800029;
  margin-top: 0px;
  width: 32px;
  text-align: center;
  border-radius: 17px;
  color: green;
  margin-left: 10px;
  height: 33px;
}

.fill {
  margin-top: 1px;
  padding-top: 1px;

}

.background {
  margin-top: 70px;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: bottom;
  border-radius: 30px;
  width: 94%;
  height: 500px;
  margin-left: 45px;
  margin-right: 51px;

}

.user {
  margin-top: 5px;
  margin-left: 10px;
}

.tittle {

  font-size: 5rem;
  margin-left: 205px;
  padding-top: 160px;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
}

h3 span {
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.049em;
  margin-left: 207px;
  color: #0b802f;
}

#site-search {
  margin-left: 205px;
  height: 40px;
  width: 465px;
  border-radius: 30px;
  margin-top: 30px;
  font-size: 17px;
  border: 2px solid green;
}

input {
  text-align: start;
  letter-spacing: 0.027em;
  padding-left: 15px;
}

.search {
  color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  margin-left: -103px;
  background-color: #40aa54;
  border: white;
  font-size: 19px;
}

.search:hover {
  background-color: #0b802f;
}

/* -------------------category------------------ */
.catergory {
  margin-top: 42px;

}

.catergory h1 {
  font-size: 3.4rem;
  font-weight: 500;
  margin-left: 200px;
}

.small {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 26px;

}

.box {
  height: 80px;
  width: 90px;
  background-color: #ddd6;
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
}

.box i {
  margin-top: 10px;
  font-size: 35px;
}

.box:hover {
  background-color: rgba(196, 230, 190, 0.719);
}

.cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;

  font-weight: 500;

}

.cards h1 {
  font-size: 2.9rem;

}

.explore {
  color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  margin-left: -103px;
  background-color: #40aa54;
  border: white;
  font-size: 17px;
}

.explore:hover {
  background-color: #0b802f;
  color: white;
}

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 109px;
}

.products-image {
  width: 290px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 8px;
  /* box-shadow: 0px 2px 4px rgb(19, 19, 19);comment out it */
  border: 1px solid grey;
  margin: 20px;
  transition: .3s;
  height: 100%;
  /* width: auto;comment out it */
  background-position: center;
  text-align: center;
}

.products-image:hover {
  transform: translateY(15px);
}

.products-image img {

  height: 160px;
  margin-top: 15px;

}


.card-cont {
  height: 120px;
  margin-top: 10px;
  line-height: 1.5;
  text-align: initial;
}

.card-cont h3 {
  font-size: 30px;
  font-style: normal;
  margin-left: 10px;
}

.card-cont p {
  font-size: 17px;
  margin-left: 10px;
  /* margin-top: 30px; */
}

.card-cont a {
  text-decoration: none;
  color: green;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.022em;
  margin-left: 145px;
}

.count {
  display: inline;
  text-align: initial;
}

.decrement {
  margin-left: 10px;
  color: green;
  background-color: white;
  height: 20px;
  width: 20px;
  font-size: 10px;
  border-radius: 4px;

}

.decrement:hover {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background-color: green;
  border: 1px solid darkgreen;

}

.increment:hover {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background-color: green;
  border: 1px solid darkgreen;

}

.increment {
  border-radius: 4px;
  margin-left: 10px;
  color: green;
  background-color: white;
  height: 20px;
  width: 20px;
  font-size: 10px;

}

.bag2 {
  display: inline-block;
  background: #00800045;
  color: green;
  width: 32px;
  text-align: center;
  border-radius: 30px;
  margin-left: 150px;
  height: 33px;
}

.bag2:hover {
  background-color: #0b802e71;
  color: darkgreen;
}

/* span {
  margin-left: -3px;
  position: absolute;
  margin-top: -13px;
  border-radius: 14px;
  
} */
.add {
  font-size: 13px;
  border: 1px solid #ff00005c;
  background: #ff00004f;
  height: 23px;
  width: 22px;
  text-align: center;
  color: white;
  display: block;
  margin-left: 258px;
  margin-top: -42px;
  border-radius: 15px;
}




.packs {
  background-color: rgba(4, 130, 4, 0.295);
  font-weight: 500;
  border-radius: 20px;
  margin-left: 170px;
  margin-right: 170px;
}

.packs h1 {
  font-weight: 600;
  padding-top: 20px;
  margin-left: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 85px;
}

.product-images {
  width: 288px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgb(19, 19, 19);
  /* border: 1px solid grey; */
  margin: 20px;
  transition: .3s;
  height: 100%;
  /* width: auto; */
  background-position: center;
  text-align: center;
}

.product-images:hover {
  transform: translateY(15px);
}

.product-images img {

  height: 160px;
  margin-top: 15px;

}

/* -------------------------client review css---------------------- */
.container-1 {
  background-color: #8080806e;

  max-width: 100%;

}

.container h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  padding-top: 10px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 17%;
  float: left;
  border: 5px solid #fff;
  border-radius: 50px;
  margin-left: 54px;
  margin-right: 35px;
  margin-top: 15px;
}

/* .owl-carousel  .owl-wrapper-outer{
  display: none;
  position: absolute;
  width: 100%;
  
} */
.testimonial-item.equal-height.style-6 {
  background-color: #eee;
  border-radius: 10px;
  margin: 10px;
}

.cell-right {
  /* text-align: center; */
  margin-right: 80px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.testimonial-name {
  font-weight: 600;
  font-size: 20px;
}

.testimonial-content.quote {
  padding: 30px 70px;
  font-size: 14px;
}

.et_right_sidebar #main-content .container:before {
  display: none;
}

#main-content .container {
  padding-top: 10px;
}

/* i.fa.fa-quote-left {
  padding: 0px 10px;
  color: #999;
} */
.rating {
  line-height: 50px;
  color: #ff8f00;
}

.fa-regular {
  border: #ff8f00;
}

.mobile {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 40px;


}

.mb-0 {
  text-align: inherit;
  font-size: 3rem;
}

.row {
  border-radius: 10px;
}

.card-text {
  font-size: 15px;
}

.download {
  margin-top: -80px;
}

.download button {
  height: 50px;
  width: 140px;
  font-size: 13px;
  border-radius: 10px;
  color: white;
  background: black;
}

.download button:hover {

  color: white;
  background: rgba(0, 0, 0, 0.568);
}

/* ------------------------footer css--------------------- */
.footer {
  background-color: #1f1f1f;
  color: white;
  margin-top: 30px;
}

.last-info {

  display: flex;
  justify-content: space-between;
  height: 300px;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}

.last-cont h4 {
  font-size: 40px;
  color: green;
}

#shop {
  color: green;

}

.last-cont p {
  color: white;
  margin-top: 25px;
  font-size: 19px;
  margin-left: 30px;
  cursor: pointer;
}

.last-cont h4:hover {
  color: rgba(9, 220, 9, 0.826);
}

.vist {
  height: 32px;
  text-align: center;
  border-radius: 50px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.vist i {
  border: 2px solid #ffffff96;
  width: 33px;
  border-radius: 15px;
  text-align: center;
}

.vist i:hover {
  border: 2px solid white;
  box-shadow: 5px 5px 10px grey;
}

.navigation {
  gap: 135px;
  display: flex;
}

.navigation ul {
  font-size: 20px;

}

.navigation ul li {

  list-style: none;
}

.navigation ul li a {

  line-height: 1.6;
  color: white;
  text-decoration: none;


}

.navigation ul li a span {
  font-size: 28px;
  line-height: 1.7;
}

.navigation ul li a:hover {
  text-decoration: underline;
}

/* ===========rgba(0, 0, 0, 0.493)a quary ===============  */

@media (min-width:1024px) and (max-width:1250px) {
  .fill {
    margin-top: 18px;
    padding-top: 30px;
  }

  .background {
    background-image: url(images/background.png);
    /* background-color: #475569; */
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    /* height: 100%; */
    width: 94%;
    height: 400px;
    margin-left: 30px;
    margin-right: 51px;
  }

  .tittle {
    font-size: 5rem;
    margin-left: 205px;
    padding-top: 70px;
    font-weight: 600;
  }

  input {
    text-align: start;
    padding-left: 15px;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 26px;
  }

  .catergory h1 {
    font-size: 3.4rem;
    font-weight: 500;
    /* margin-left: 83px; */
    text-align: center;
  }

  .products-image {
    width: 220px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;

    border: 1px solid grey;
    margin: 20px;
    transition: .3s;
    height: 100%;

    background-position: center;
    text-align: center;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px;
  }

  .products-image img {
    height: 110px;
    margin-top: 15px;
  }

  .decrement {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .increment {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .card-cont a {
    text-decoration: none;
    color: green;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.022em;
    margin-left: 40px;
  }

  .packs {
    background-color: rgba(4, 130, 4, 0.295);
    margin: 5px;
    border-radius: 10px;
  }

  .packs h1 {
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px;
  }

  .container h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 10px;
  }

  .navigation {
    gap: 70px;
    display: flex;
  }

  .vist {
    margin-left: 0px;
  }

  .add {
    font-size: 13px;
    border: 1px solid #ff00005c;
    background: #ff00004f;
    height: 23px;
    width: 22px;
    text-align: center;
    color: white;
    display: block;
    margin-left: 153px;
    margin-top: -47px;
    border-radius: 15px;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .fill {
    margin-top: 29px;
    padding-top: 35px;
  }

  .background {
    margin-top: 55px;
    /* margin-top: 134px; */
    background-image: url(images/background.png);
    /* background-color: #475569; */
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    /* height: 100%; */
    width: 94%;
    height: 400px;
    margin-left: 35px;
    margin-right: 51px;

  }

  .tittle {
    /* margin-left: 10px; */
    font-size: 5rem;
    margin-left: 140px;
    padding-top: 85px;
    font-weight: 600;
  }

  h3 span {
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.049em;
    margin-left: 143px;
    color: #0b802f;
  }


  #site-search {
    margin-left: 135px;
    height: 40px;
    width: 465px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 17px;
    border: 2px solid green;
  }

  input {
    text-align: start;
    padding-left: 15px;
  }

  .box {
    height: 80px;
    width: 70px;
    background-color: #ddd6;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 26px;
  }

  .catergory h1 {
    font-size: 3.4rem;
    font-weight: 500;
    /* margin-left: 20px; */
    text-align: center;
  }

  .cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    font-weight: 500;
  }

  .products-image {
    width: 199px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;

    border: 1px solid grey;
    margin: 20px;
    transition: .3s;
    height: 100%;

    background-position: center;
    text-align: center;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px;
  }

  .products-image img {
    height: 110px;
    margin-top: 15px;
  }

  .decrement {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .increment {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .card-cont a {
    text-decoration: none;
    color: green;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.022em;
    margin-left: 40px;
  }

  /* bundle pack css queries */
  .packs {
    background-color: rgba(4, 130, 4, 0.295);
    margin: 5px;
    border-radius: 10px;
  }

  .packs h1 {
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }

  .product-images {
    width: 199px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;

    border: 1px solid grey;
    margin: 20px;
    transition: .3s;
    height: 100%;

    background-position: center;
    text-align: center;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px;
  }

  .product-images img {
    height: 110px;
    margin-top: 15px;
  }

  .decrement {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .increment {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .card-cont a {
    text-decoration: none;
    color: green;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.022em;
    margin-left: 40px;
  }

  .card-cont h3 {
    font-size: 25px;
    font-style: normal;
    margin-left: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px;
  }

  .container h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 10px;
  }

  .mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;


  }

  .download {
    margin-top: 15px;
  }

  .last-info {
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    flex-direction: column;
  }

  .last-cont h4 {
    font-size: 40px;
    padding-top: 15px;
  }

  .last-cont p {
    margin-top: 0px;
    font-size: 19px;
  }

  .vist {
    height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 27px;
  }

  .vist i {
    border: 2px solid #ffffff96;
    width: 35px;
    border-radius: 18px;
    text-align: center;
    font-size: 27px;
  }

  .navigation ul {
    font-size: 13px;
  }

  .navigation ul li {
    list-style: disc;
  }

  .navigation ul li a span {
    font-size: 20px;
    line-height: 1.7;
  }

  .navigation {
    gap: 100px;
    display: flex;
  }

  .add {
    font-size: 13px;
    border: 1px solid #ff00005c;
    background: #ff00004f;
    height: 23px;
    width: 22px;
    text-align: center;
    color: white;
    display: block;
    margin-left: 152px;
    margin-top: -47px;
    border-radius: 15px;
  }
}

@media (min-width:481px) and (max-width:768px) {
  .fill {
    margin-top: -32px;
    padding-top: 35px;
  }

  .background {
    background-image: url(images/background.png);
    /* background-color: #475569; */
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    /* height: 100%; */
    width: 94%;
    height: 300px;
    margin-left: 19px;
    margin-right: 51px;

  }

  .tittle {
    /* margin-left: 10px; */
    font-size: 3rem;
    margin-left: 50px;
    padding-top: 45px;
    font-weight: 610;
  }

  h3 {
    margin-top: 10px;
  }

  h3 span {
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.049em;
    margin-left: 50px;
    color: #0b802f;
  }

  #site-search {
    margin-left: 45px;
    height: 40px;
    width: 295px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 15px;
    border: 2px solid green;

  }

  input {
    text-align: start;
    padding-left: 15px;
  }

  .liked {
    background-color: #ff00002e;
    /* width: 20px; */
    width: 31px;
    text-align: center;
    border-radius: 15px;
    color: red;
    margin-left: 366px;
  }

  .search {
    font-size: 15px;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 26px;
    flex-wrap: wrap;
  }

  .card-cont {
    height: 70px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: initial;
  }

  .explore {
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-left: -17px;
    background-color: #40aa54;
    border: white;
    font-size: 17px;
    text-align: center;
  }

  .products-image {
    width: 170px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;

    border: 1px solid grey;
    margin: 10px;
    transition: .3s;
    height: 100%;

    background-position: center;
    text-align: center;
  }

  .products-image img {
    height: 160px;
    margin-top: 15px;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
  }

  .card-cont {
    height: 90px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: initial;
  }

  .card-cont h3 {
    font-size: 15px;
    font-style: normal;
    margin-left: 10px;
  }

  .card-cont p {
    font-size: 12px;
    margin-left: 10px;
  }

  .decrement {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .increment {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .card-cont a {
    text-decoration: none;
    color: green;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.022em;
    margin-left: 40px;
  }

  /* bundle packs css queries */

  .product-images {
    width: 170px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid grey;
    margin: 10px;
    transition: .3s;
    height: 100%;
    background-position: center;
    text-align: center;
  }

  .product-images img {
    height: 110px;
    margin-top: 15px;
  }

  .packs {
    background-color: rgba(4, 130, 4, 0.295);
    margin: 5px;
    border-radius: 10px;
  }

  .packs h1 {
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
  }

  /* .testimonial-content.quote {
        padding: 0px 70px;
        font-size: 14px;
      } */

  .container h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 10px;
  }

  .cell-right {
    margin-right: 80px;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-left: 4px;
    margin-right: 4px;

  }

  .download {
    margin-top: 15px;
  }

  .last-info {
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    flex-direction: column;
  }

  .last-cont h4 {
    font-size: 30px;
    padding-top: 15px;
  }

  .last-cont p {
    margin-top: 0px;
    font-size: 19px;
  }

  .vist {
    height: 30px;
    text-align: center;
    border-radius: 50px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .vist i {
    border: 2px solid #ffffff96;
    width: 27px;
    border-radius: 15px;
    text-align: center;
  }

  .navigation ul {
    font-size: 13px;
  }

  .navigation ul li {
    list-style: disc;
  }

  .navigation ul li a span {
    font-size: 20px;
    line-height: 1.7;
  }

  .navigation {
    gap: 60px;
    display: flex;
  }

  .add {
    font-size: 13px;
    border: 1px solid #ff00005c;
    background: #ff00004f;
    height: 23px;
    width: 22px;
    text-align: center;
    color: white;
    display: block;
    margin-left: 143px;
    margin-top: -47px;
    border-radius: 15px;
  }
}

@media (min-width:320px) and (max-width:481px) {
  .fill {
    margin-top: -6px;
    padding-top: 9px;
  }

  .background {

    background-image: url(images/background.png);
    /* background-color: #475569; */
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    /* height: 100%; */
    width: 94%;
    height: 250px;
    margin-left: 10px;
    margin-right: 51px;

  }

  .tittle {
    /* margin-left: 10px; */
    font-size: 2rem;
    margin-left: 30px;
    padding-top: 45px;
    font-weight: 610;
  }

  h3 {
    margin-top: 10px;
  }

  h3 span {
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.045em;
    margin-left: 27px;
    color: #0b802f;
  }

  #site-search {
    margin-left: 20px;
    height: 30px;
    width: 227px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 14px;
    border: 2px solid green;
  }

  .search {
    color: white;
    cursor: pointer;
    width: 65px;
    height: 30px;
    border-radius: 30px;
    margin-left: -69px;
    background-color: #40aa54;
    border: white;
    font-size: 14px;
  }

  input {
    text-align: start;
    padding-left: 10px;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 26px;
    flex-wrap: wrap;
  }

  .catergory h1 {
    font-size: 3.4rem;
    font-weight: 500;
    margin-left: -10px;
    text-align: center;
  }

  .liked {
    background-color: #ff00002e;
    width: 20px;
    width: 31px;
    text-align: center;
    border-radius: 15px;
    color: red;
    margin-left: 80px;
  }

  .tote-bag {
    background-color: #00800029;
    width: 32px;
    text-align: center;
    border-radius: 17px;
    color: green;
    margin-right: -10px;
    height: 33px;
  }

  .cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;

    font-weight: 500;
    text-align: start;

  }

  .explore {
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-left: -17px;
    background-color: #40aa54;
    border: white;
    font-size: 17px;
    text-align: center;
  }


  .products-image {

    width: 135px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;

    border: 1px solid grey;
    margin: 10px;
    transition: .3s;
    height: 100%;

    background-position: center;
    text-align: center;
  }

  .products-image img {
    height: 85px;

    margin-top: 15px;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
  }

  .card-cont {
    height: 90px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: initial;
  }

  .card-cont h3 {
    font-size: 15px;
    font-style: normal;
    margin-left: 10px;
  }

  .card-cont p {
    font-size: 12px;
    margin-left: 10px;
  }

  .decrement {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .increment {
    margin-left: 10px;
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 9px;
    border-radius: 4px;
  }

  .card-cont a {
    text-decoration: none;
    color: green;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.022em;
    margin-left: 10px;
  }

  /* bundle packs quer */

  .packs {
    background-color: rgba(4, 130, 4, 0.295);
    margin-left: 0px;
    margin-right: 0px;
  }

  .packs h1 {
    padding-top: 10px;
    text-align: center;
    font-weight: 500px;
  }

  .product-images {
    width: 135px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid grey;
    margin: 10px;
    transition: .3s;
    height: 100%;
    background-position: center;
    text-align: center;
  }

  .product-images img {
    height: 85px;
    margin-top: 15px;
  }

  .content {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
  }

  .testimonial-content.quote {
    padding: 0px 70px;
    font-size: 14px;
  }

  .container h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 10px;
  }

  .cell-right {
    margin-right: 80px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-left: 2px;
    margin-right: 2px;

  }

  .download {
    margin-top: 15px;
  }

  /* ---------------footer */
  .last-info {
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    flex-direction: column;
  }

  .last-cont h4 {
    font-size: 25px;
    padding-top: 15px;
  }

  .last-cont p {
    margin-top: 0px;
    font-size: 19px;
  }

  .vist {
    height: 30px;
    text-align: center;
    border-radius: 50px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .vist i {
    border: 2px solid #ffffff96;
    width: 27px;
    border-radius: 15px;
    text-align: center;
  }

  .navigation ul {
    font-size: 12px;
  }

  .navigation ul li {
    list-style: disc;
  }

  .navigation ul li a span {
    font-size: 15px;
    line-height: 1.7;
  }

  .navigation {
    gap: 40px;
    display: flex;
  }

  .add {
    font-size: 12px;
    border: 1px solid #ff00005c;
    background: #ff00004f;
    height: 20px;
    width: 17px;
    text-align: center;
    color: white;
    display: block;
    margin-left: 113px;
    margin-top: -42px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* // Inside the Media Query. */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .cart-2 a {
    width: 32px;
  }

  /* .liked{
        background-color:#ff00002e;
        width: 20px;
        width: 31px;
      text-align: center;
      border-radius: 15px;
      color: red;
      margin-left: 506px;
    } */
  /* .tote-bag{
        background-color: #00800029;
        
        width: 32px;
        text-align: center;
        border-radius: 17px;
        color: green;
        margin-right: 105px;
        height: 33px;
    } */
}